body {
    font: 15px arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    margin-bottom: 100px;
}
footer {
    background-color: #1293d4;
    text-align: center;
    padding: 5px;
    bottom: 0%;
    width: 100%;;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    }
.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24282b;
   
}
header {
    background-color: #24282b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #1293d4;
}

.li-menu {
    float: left;
}

.li-menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
#registro {
    float: right;
}
#cabecera {
    min-height: 400px;
    background: url('../img/cabecera.jpg') 0 -00px;
    color: #fff;
    background-position: center;
    border-bottom: 5px solid #1293d4;
}
/* #cabecera h1 {
    color: #ffffff; 
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; font-weight: 800; 
    line-height: 72px; margin: 0 0 24px; 
    text-transform: uppercase;
}
#cabecera p {
    color: #f8f8f8; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px;
}
*/ 
    .form-consulta {
        max-width: 500px; 
        background: #eee; 
        padding: 25px; 
        font-family: 'Source Sans Pro', sans-serif;
            display: contents;
    }
.campo-form {
    width:100%; 
    height:36px; 
    margin:2px 0 6px; 
    padding-left:6px; 
    box-sizing: border-box; 
    border-radius:3px; 
    border:0; 
    font-family: 'Source Sans Pro', sans-serif; font-size:1em;
}
label span {
    color: #1293d4;
}
textarea {
    min-height: 150px!important;
}
.btn-form {
    display: inline-block; 
    border:0; 
    background: #1293d4; 
    height: 46px; 
    line-height: 46px; 
    padding: 0 20px; 
    border-radius: 6px; 
    color:#fff; 
    text-decoration: none; 
    text-transform: uppercase; 
    letter-spacing: 1px
}
.btn-form:hover {
    background: #444
}
.compras a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.buscar a { 
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}
.oferta {
    margin: 10px;
    padding: 0%;
    width: 80%;
    
}
.ingresos {
    width: 20%;
    margin: 10px;
    
}
.caja img {
    width: 70px;
    height: 70px;
}
.caja{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
.logo {
    display: flex;
    padding: 2em;
    align-content: center;
    
}
#boletin{
    padding: 15px;
    color: #fff;
    background: #24282b;
    text-align: center; 
}

form {
    padding: 0.5em;
    
}
.ventas{
    float: left;
    width: 30%;
    padding: 10px;
}

.li-juegos img {
        width: 90px;
}
.li-juegos {
    text-align: center;
    width: 30%;
    padding: 10px;
}
.tr-juegos {
    position: block;
    display: -webkit-inline-box;
}
li {
    list-style-type: none;
}

